## Importing data

In [ ]:
import pandas as pd
features = pd.read_csv("/content/drive/My Drive/Deep learning/features.csv")
dam_prices = pd.read_csv("/content/drive/My Drive/Deep learning/DAM_prices.csv")
rt_prices = pd.read_csv("/content/drive/My Drive/Deep learning/RT_prices.csv")

## Determining if there are not missing dates

In [ ]:
print(len(features),len(dam_prices),len(rt_prices))

16871 16871 16871

In [ ]:
features.columns

Index(['dates', 'Gas.price', 'MidAtl_Pool_pr', 'western_Pool_prev',
       'Total_Pool_prev', 'Percent.diff.MidAtl_Pool_pr',
       'Percent.diff.western_Pool_prev', 'Percent.diff.Total_Pool_prev',
       'PJM.POOL.J2', 'MISO_POOL_J2'],
      dtype='object')

In [ ]:
dam_prices.columns

Index(['dates', 'AECO_RESID_AGG..DALMP..Average',
       'AEP.GEN.HUB..DALMP..Average', 'AEP.DAYTON.HUB..DALMP..Average',
       'AEPAPCO_RESID_AGG..DALMP..Average', 'AEPIM_RESID_AGG..DALMP..Average',
       'AEPKY_RESID_AGG..DALMP..Average', 'AEPOHIO_RESID_AGG..DALMP..Average',
       'APS_RESID_AGG..DALMP..Average', 'ATSI.GEN.HUB..DALMP..Average',
       'BGE_RESID_AGG..DALMP..Average', 'CHICAGO.GEN.HUB..DALMP..Average',
       'CHICAGO.HUB..DALMP..Average', 'COMED_RESID_AGG..DALMP..Average',
       'DAY_RESID_AGG..DALMP..Average', 'DEOK_RESID_AGG..DALMP..Average',
       'DOMINION.HUB..DALMP..Average', 'DOM_RESID_AGG..DALMP..Average',
       'DPLEASTON_RESID_AGG..DALMP..Average', 'DPL_RESID_AGG..DALMP..Average',
       'DUQ_RESID_AGG..DALMP..Average', 'EASTERN.HUB..DALMP..Average',
       'EKPC_RESID_AGG..DALMP..Average', 'FEOHIO_RESID_AGG..DALMP..Average',
       'HUDSONTP..DALMP..Average', 'IMO..DALMP..Average',
       'JCPL_RESID_AGG..DALMP..Average', 'LINDENVFT..DALMP..Average',
       'METED_RESID_AGG..DALMP..Average', 'MISO..DALMP..Average',
       'N.ILLINOIS.HUB..DALMP..Average', 'NEPTUNE..DALMP..Average',
       'NEW.JERSEY.HUB..DALMP..Average', 'NIPSCO..DALMP..Average',
       'NORTHWEST..DALMP..Average', 'NYIS..DALMP..Average',
       'OHIO.HUB..DALMP..Average', 'PECO_RESID_AGG..DALMP..Average',
       'PENELEC_RESID_AGG..DALMP..Average',
       'PENNPOWER_RESID_AGG..DALMP..Average', 'PPL_RESID_AGG..DALMP..Average',
       'PSEG_RESID_AGG..DALMP..Average', 'RECO_RESID_AGG..DALMP..Average',
       'SMECO_RESID_AGG..DALMP..Average', 'SOUTHEXP..DALMP..Average',
       'SOUTHIMP..DALMP..Average', 'UGI_RESID_AGG..DALMP..Average',
       'VINELAND_RESID_AGG..DALMP..Average', 'WESTERN.HUB..DALMP..Average'],
      dtype='object')

In [ ]:
rt_prices.columns

Index(['dates', 'AECO_RESID_AGG..RTLMP..Average',
       'AEP.GEN.HUB..RTLMP..Average', 'AEP.DAYTON.HUB..RTLMP..Average',
       'AEPAPCO_RESID_AGG..RTLMP..Average', 'AEPIM_RESID_AGG..RTLMP..Average',
       'AEPKY_RESID_AGG..RTLMP..Average', 'AEPOHIO_RESID_AGG..RTLMP..Average',
       'APS_RESID_AGG..RTLMP..Average', 'ATSI.GEN.HUB..RTLMP..Average',
       'BGE_RESID_AGG..RTLMP..Average', 'CHICAGO.GEN.HUB..RTLMP..Average',
       'CHICAGO.HUB..RTLMP..Average', 'COMED_RESID_AGG..RTLMP..Average',
       'DAY_RESID_AGG..RTLMP..Average', 'DEOK_RESID_AGG..RTLMP..Average',
       'DOMINION.HUB..RTLMP..Average', 'DOM_RESID_AGG..RTLMP..Average',
       'DPLEASTON_RESID_AGG..RTLMP..Average', 'DPL_RESID_AGG..RTLMP..Average',
       'DUQ_RESID_AGG..RTLMP..Average', 'EASTERN.HUB..RTLMP..Average',
       'EKPC_RESID_AGG..RTLMP..Average', 'FEOHIO_RESID_AGG..RTLMP..Average',
       'HUDSONTP..RTLMP..Average', 'IMO..RTLMP..Average',
       'JCPL_RESID_AGG..RTLMP..Average', 'LINDENVFT..RTLMP..Average',
       'METED_RESID_AGG..RTLMP..Average', 'MISO..RTLMP..Average',
       'N.ILLINOIS.HUB..RTLMP..Average', 'NEPTUNE..RTLMP..Average',
       'NEW.JERSEY.HUB..RTLMP..Average', 'NIPSCO..RTLMP..Average',
       'NORTHWEST..RTLMP..Average', 'NYIS..RTLMP..Average',
       'OHIO.HUB..RTLMP..Average', 'PECO_RESID_AGG..RTLMP..Average',
       'PENELEC_RESID_AGG..RTLMP..Average',
       'PENNPOWER_RESID_AGG..RTLMP..Average', 'PPL_RESID_AGG..RTLMP..Average',
       'PSEG_RESID_AGG..RTLMP..Average', 'RECO_RESID_AGG..RTLMP..Average',
       'SMECO_RESID_AGG..RTLMP..Average', 'SOUTHEXP..RTLMP..Average',
       'SOUTHIMP..RTLMP..Average', 'UGI_RESID_AGG..RTLMP..Average',
       'VINELAND_RESID_AGG..RTLMP..Average', 'WESTERN.HUB..RTLMP..Average'],
      dtype='object')

Verifiying that the datasets have all the same dates

In [ ]:
print(features["dates"].head(),features["dates"].tail())
print(dam_prices["dates"].head(),dam_prices["dates"].tail())
print(rt_prices["dates"].head(),rt_prices["dates"].tail())

0    1/28/2018 1:00
1    1/28/2018 2:00
2    1/28/2018 3:00
3    1/28/2018 4:00
4    1/28/2018 5:00
Name: dates, dtype: object 16866    12/31/2019 20:00
16867    12/31/2019 21:00
16868    12/31/2019 22:00
16869    12/31/2019 23:00
16870       1/1/2020 0:00
Name: dates, dtype: object
0    1/28/2018 1:00
1    1/28/2018 2:00
2    1/28/2018 3:00
3    1/28/2018 4:00
4    1/28/2018 5:00
Name: dates, dtype: object 16866    12/31/2019 20:00
16867    12/31/2019 21:00
16868    12/31/2019 22:00
16869    12/31/2019 23:00
16870       1/1/2020 0:00
Name: dates, dtype: object
0    1/28/2018 1:00
1    1/28/2018 2:00
2    1/28/2018 3:00
3    1/28/2018 4:00
4    1/28/2018 5:00
Name: dates, dtype: object 16866    12/31/2019 20:00
16867    12/31/2019 21:00
16868    12/31/2019 22:00
16869    12/31/2019 23:00
16870       1/1/2020 0:00
Name: dates, dtype: object

Verifying missing dates

In [ ]:
features["dates"] = pd.to_datetime(features["dates"], infer_datetime_format = True)

In [ ]:
dam_prices["dates"] = pd.to_datetime(dam_prices["dates"], infer_datetime_format = True)
rt_prices["dates"] = pd.to_datetime(rt_prices["dates"], infer_datetime_format = True)

In [ ]:
rt_prices["dates"]

0       2018-01-28 01:00:00
1       2018-01-28 02:00:00
2       2018-01-28 03:00:00
3       2018-01-28 04:00:00
4       2018-01-28 05:00:00
                ...
16866   2019-12-31 20:00:00
16867   2019-12-31 21:00:00
16868   2019-12-31 22:00:00
16869   2019-12-31 23:00:00
16870   2020-01-01 00:00:00
Name: dates, Length: 16871, dtype: datetime64[ns]

In [ ]:
pd.date_range(start = '2018-01-28 1:00', end = '2020-02-13 0:00' ).difference(features["dates"])

DatetimeIndex(['2020-01-01 01:00:00', '2020-01-02 01:00:00',
               '2020-01-03 01:00:00', '2020-01-04 01:00:00',
               '2020-01-05 01:00:00', '2020-01-06 01:00:00',
               '2020-01-07 01:00:00', '2020-01-08 01:00:00',
               '2020-01-09 01:00:00', '2020-01-10 01:00:00',
               '2020-01-11 01:00:00', '2020-01-12 01:00:00',
               '2020-01-13 01:00:00', '2020-01-14 01:00:00',
               '2020-01-15 01:00:00', '2020-01-16 01:00:00',
               '2020-01-17 01:00:00', '2020-01-18 01:00:00',
               '2020-01-19 01:00:00', '2020-01-20 01:00:00',
               '2020-01-21 01:00:00', '2020-01-22 01:00:00',
               '2020-01-23 01:00:00', '2020-01-24 01:00:00',
               '2020-01-25 01:00:00', '2020-01-26 01:00:00',
               '2020-01-27 01:00:00', '2020-01-28 01:00:00',
               '2020-01-29 01:00:00', '2020-01-30 01:00:00',
               '2020-01-31 01:00:00', '2020-02-01 01:00:00',
               '2020-02-02 01:00:00', '2020-02-03 01:00:00',
               '2020-02-04 01:00:00', '2020-02-05 01:00:00',
               '2020-02-06 01:00:00', '2020-02-07 01:00:00',
               '2020-02-08 01:00:00', '2020-02-09 01:00:00',
               '2020-02-10 01:00:00', '2020-02-11 01:00:00',
               '2020-02-12 01:00:00'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
pd.date_range(start = '2018-01-28 1:00', end = '2020-02-13 0:00' ).difference(dam_prices["dates"])

DatetimeIndex(['2020-01-01 01:00:00', '2020-01-02 01:00:00',
               '2020-01-03 01:00:00', '2020-01-04 01:00:00',
               '2020-01-05 01:00:00', '2020-01-06 01:00:00',
               '2020-01-07 01:00:00', '2020-01-08 01:00:00',
               '2020-01-09 01:00:00', '2020-01-10 01:00:00',
               '2020-01-11 01:00:00', '2020-01-12 01:00:00',
               '2020-01-13 01:00:00', '2020-01-14 01:00:00',
               '2020-01-15 01:00:00', '2020-01-16 01:00:00',
               '2020-01-17 01:00:00', '2020-01-18 01:00:00',
               '2020-01-19 01:00:00', '2020-01-20 01:00:00',
               '2020-01-21 01:00:00', '2020-01-22 01:00:00',
               '2020-01-23 01:00:00', '2020-01-24 01:00:00',
               '2020-01-25 01:00:00', '2020-01-26 01:00:00',
               '2020-01-27 01:00:00', '2020-01-28 01:00:00',
               '2020-01-29 01:00:00', '2020-01-30 01:00:00',
               '2020-01-31 01:00:00', '2020-02-01 01:00:00',
               '2020-02-02 01:00:00', '2020-02-03 01:00:00',
               '2020-02-04 01:00:00', '2020-02-05 01:00:00',
               '2020-02-06 01:00:00', '2020-02-07 01:00:00',
               '2020-02-08 01:00:00', '2020-02-09 01:00:00',
               '2020-02-10 01:00:00', '2020-02-11 01:00:00',
               '2020-02-12 01:00:00'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
pd.date_range(start = '2018-01-28 1:00', end = '2020-02-13 0:00').difference(rt_prices["dates"])

DatetimeIndex(['2020-01-01 01:00:00', '2020-01-02 01:00:00',
               '2020-01-03 01:00:00', '2020-01-04 01:00:00',
               '2020-01-05 01:00:00', '2020-01-06 01:00:00',
               '2020-01-07 01:00:00', '2020-01-08 01:00:00',
               '2020-01-09 01:00:00', '2020-01-10 01:00:00',
               '2020-01-11 01:00:00', '2020-01-12 01:00:00',
               '2020-01-13 01:00:00', '2020-01-14 01:00:00',
               '2020-01-15 01:00:00', '2020-01-16 01:00:00',
               '2020-01-17 01:00:00', '2020-01-18 01:00:00',
               '2020-01-19 01:00:00', '2020-01-20 01:00:00',
               '2020-01-21 01:00:00', '2020-01-22 01:00:00',
               '2020-01-23 01:00:00', '2020-01-24 01:00:00',
               '2020-01-25 01:00:00', '2020-01-26 01:00:00',
               '2020-01-27 01:00:00', '2020-01-28 01:00:00',
               '2020-01-29 01:00:00', '2020-01-30 01:00:00',
               '2020-01-31 01:00:00', '2020-02-01 01:00:00',
               '2020-02-02 01:00:00', '2020-02-03 01:00:00',
               '2020-02-04 01:00:00', '2020-02-05 01:00:00',
               '2020-02-06 01:00:00', '2020-02-07 01:00:00',
               '2020-02-08 01:00:00', '2020-02-09 01:00:00',
               '2020-02-10 01:00:00', '2020-02-11 01:00:00',
               '2020-02-12 01:00:00'],
              dtype='datetime64[ns]', freq=None)

We choose to cut the dataset until December 31st 2019 and imputate the missing data for 2019 by taking the average of the 3 last days for the same hour. We are conscious of the biais this imputation will add to our model.

In [ ]:
features[features["dates"]=='2019-06-21 00:00:00']

           dates  Gas.price  ...  PJM.POOL.J2  MISO_POOL_J2
12214 2019-06-21       2.13  ...      1550.47        3381.8

[1 rows x 10 columns]

In [ ]:
features.iloc[12238:12238+25]

                    dates  Gas.price  ...  PJM.POOL.J2  MISO_POOL_J2
12238 2019-06-22 00:00:00       2.13  ...  3549.650000   8822.600000
12239 2019-06-22 01:00:00       2.14  ...  1338.780000   2485.833333
12240 2019-06-22 02:00:00       2.14  ...  1332.436667   3306.133333
12241 2019-06-22 03:00:00       2.14  ...  1337.900000   3301.233333
12242 2019-06-22 04:00:00       2.14  ...  1357.820000   3250.500000
12243 2019-06-22 05:00:00       2.14  ...  1429.276667   3231.866667
12244 2019-06-22 06:00:00       2.14  ...  1551.206667   3277.800000
12245 2019-06-22 07:00:00       2.14  ...  1650.050000   3437.400000
12246 2019-06-22 08:00:00       2.14  ...  1762.573333   3600.833333
12247 2019-06-22 09:00:00       2.14  ...  1760.913333   3689.866667
12248 2019-06-22 10:00:00       2.14  ...  1728.506667   3877.533333
12249 2019-06-22 11:00:00       2.14  ...  1833.433333   4194.766667
12250 2019-06-22 12:00:00       2.14  ...  1978.593333   4680.200000
12251 2019-06-22 13:00:00       2.14  ...  2085.390000   5010.733333
12252 2019-06-22 14:00:00       2.14  ...  2204.160000   5258.366667
12253 2019-06-22 15:00:00       2.14  ...  2297.603333   5390.766667
12254 2019-06-22 16:00:00       2.14  ...  2413.770000   5445.666667
12255 2019-06-22 17:00:00       2.14  ...  2384.263333   5328.500000
12256 2019-06-22 18:00:00       2.14  ...  2249.340000   5148.100000
12257 2019-06-22 19:00:00       2.14  ...  2123.240000   4896.866667
12258 2019-06-22 20:00:00       2.14  ...  2186.883333   4763.366667
12259 2019-06-22 21:00:00       2.14  ...  2225.260000   4614.000000
12260 2019-06-22 22:00:00       2.14  ...  2289.120000   4648.433333
12261 2019-06-22 23:00:00       2.14  ...  2302.613333   4838.333333
12262 2019-06-23 00:00:00       2.14  ...  2304.756667   4920.933333

[25 rows x 10 columns]

To facilitate the imputation, the latter was done on Excel directly. The files were updated on the drive.
Now, we will take the pertinent dates until December 31st 2019

#Choosing the nodes

In [ ]:
# Creating the DART df

dam_prices = dam_prices.set_index("dates", drop = True)
rt_prices = rt_prices.set_index("dates", drop = True)

In [ ]:
dart_prices = pd.DataFrame()

for i in range(1,len(columns)):
  dart = dam_prices.iloc[:,i] - rt_prices.iloc[:,i]
  dart_prices[columns[i]] = dart

In [ ]:
dart_prices.head()

                     AEP.GEN.HUB..DALMP..Average  ...  WESTERN.HUB..DALMP..Average
dates                                             ...
2018-01-28 01:00:00                         0.30  ...                         1.03
2018-01-28 02:00:00                         0.13  ...                         0.72
2018-01-28 03:00:00                         0.16  ...                         0.70
2018-01-28 04:00:00                         0.01  ...                         0.52
2018-01-28 05:00:00                        -0.37  ...                         0.17

[5 rows x 47 columns]

In [ ]:
columns = list(dart_prices.columns)

In [ ]:
mean_profit = list()
sum_profit = list()

for i in range(0,len(columns)):
   
  a = dart_prices.iloc[:,i].mean()
  mean_profit.append(a)
  b = dart_prices.iloc[:,i].sum()
  sum_profit.append(b)

print(sum_profit)

[3187.3574074199987, 469.31074057000114, 3936.6404938, 242.96259264000048, 7349.74086421, -2328.554938370001, 3802.6449384600005, -3550.3801233700015, 6548.322962860002, 2244.87558272, 2628.2261720160004, 2616.1382320040007, -270.07586875000214, 5764.413657859998, 6801.72643345, 7854.2836609, -4226.509105769998, -5372.581439600001, -2440.3325279299993, -3231.9286784100004, 2861.4956155599984, -3684.7574177000006, 5912.67779056, 6595.24224761, 1316.4402067699993, 3714.72115979, 1612.6673125000004, 5516.61357953, 2368.264302401001, 2916.87647793, 1979.5817659099998, 7035.468321889999, 3177.6325303929984, 5118.404228720001, -561.5630902399992, 302.6575254500005, 4910.46762766, 4121.658431639999, 604.9339165299996, 2669.740636320001, 4243.481559469999, 8512.38692034, 2822.808521060002, 2898.548521060002, -60.46675885000013, 2582.4667902500005, 6427.381184260001]

In [ ]:
statis = pd.DataFrame([mean_profit,sum_profit])
statis = statis.transpose()
statis.index = columns
statis.columns = ["Mean", "Sum"]

In [ ]:
statis

In [ ]:
statis_sum = statis.sort_values(by = ["Sum"], ascending= False)

In [ ]:
statis_sum.head(10)

                                     Mean          Sum
SMECO_RESID_AGG..DALMP..Average  0.504557  8512.386920
DOM_RESID_AGG..DALMP..Average    0.465549  7854.283661
AEPKY_RESID_AGG..DALMP..Average  0.435643  7349.740864
NIPSCO..DALMP..Average           0.417015  7035.468322
DOMINION.HUB..DALMP..Average     0.403161  6801.726433
IMO..DALMP..Average              0.390922  6595.242248
BGE_RESID_AGG..DALMP..Average    0.388141  6548.322963
WESTERN.HUB..DALMP..Average      0.380972  6427.381184
HUDSONTP..DALMP..Average         0.350464  5912.677791
DEOK_RESID_AGG..DALMP..Average   0.341676  5764.413658

In [ ]:
statis_mean = statis.sort_values(by = ["Mean"], ascending= False)
statis_mean.head(10)

                                     Mean          Sum
SMECO_RESID_AGG..DALMP..Average  0.504557  8512.386920
DOM_RESID_AGG..DALMP..Average    0.465549  7854.283661
AEPKY_RESID_AGG..DALMP..Average  0.435643  7349.740864
NIPSCO..DALMP..Average           0.417015  7035.468322
DOMINION.HUB..DALMP..Average     0.403161  6801.726433
IMO..DALMP..Average              0.390922  6595.242248
BGE_RESID_AGG..DALMP..Average    0.388141  6548.322963
WESTERN.HUB..DALMP..Average      0.380972  6427.381184
HUDSONTP..DALMP..Average         0.350464  5912.677791
DEOK_RESID_AGG..DALMP..Average   0.341676  5764.413658

We will choose only three nodes to model due to time restrictions. The nodes are: SMECO_RESID_AGG, DOM_RESID_AGG, AEPKY_RESID_AGG

In [ ]:
columns_dam = ["SMECO_RESID_AGG..DALMP..Average", "DOM_RESID_AGG..DALMP..Average","AEPKY_RESID_AGG..DALMP..Average"]
columns_rt = ["SMECO_RESID_AGG..RTLMP..Average", "DOM_RESID_AGG..RTLMP..Average","AEPKY_RESID_AGG..RTLMP..Average"]

In [ ]:
rt_prices = rt_prices.filter(items = columns_rt, axis = 1)
rt_prices.head()

                     SMECO_RESID_AGG..RTLMP..Average  ...  AEPKY_RESID_AGG..RTLMP..Average
dates                                                 ...
2018-01-28 01:00:00                            22.02  ...                            21.98
2018-01-28 02:00:00                            21.68  ...                            21.66
2018-01-28 03:00:00                            21.13  ...                            21.21
2018-01-28 04:00:00                            21.22  ...                            21.39
2018-01-28 05:00:00                            21.74  ...                            21.93

[5 rows x 3 columns]

In [ ]:
dam_prices = dam_prices.filter(items = columns_dam, axis = 1)
dam_prices.head()

                     SMECO_RESID_AGG..DALMP..Average  ...  AEPKY_RESID_AGG..DALMP..Average
dates                                                 ...
2018-01-28 01:00:00                            23.49  ...                            22.60
2018-01-28 02:00:00                            22.85  ...                            22.17
2018-01-28 03:00:00                            22.27  ...                            21.74
2018-01-28 04:00:00                            22.30  ...                            21.78
2018-01-28 05:00:00                            22.44  ...                            21.95

[5 rows x 3 columns]

In [ ]:
dam_prices.to_csv("dam_prices.csv")
rt_prices.to_csv("rt_prices.csv")